body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: 
        "menu cabecalho"
        "menu principal";
    grid-template-columns: 200px 1fr;
    gap: 10px;
}
